<button type="button" class="btn btn-sm btn-success pull-left">
	<span class="glyphicon" ng-class="items.completed ? 'glyphicon-check' : 'glyphicon-unchecked' " ng-click= "markCompleted(items)"></span>
</button>

<span ng-class="{strike:items.completed}" style="font-weight: bold;"> {{items.itemName | uppercase}} </span>

<button type="button" class="btn btn-sm btn-danger pull-right" ng-click= "removeItem(items)">
	<span class="glyphicon glyphicon-trash"></span>
</button>

<a href="#/addItem/edit/{{items.id}}" class="btn btn-sm btn-default pull-right" style="margin-right: 10px">
	<span class="glyphicon glyphicon-pencil"></span>
</a>